/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1516843273682');
	src: url('iconfont.eot?#iefix-1516843273682') format('embedded-opentype'),
		url('iconfont.woff2?1516843273682') format('woff2'),
		url('iconfont.woff?1516843273682') format('woff'),
		url('iconfont.ttf?1516843273682') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-btn_menu:before {
	content: '\ea01';
}

.icon-btn_next_w:before {
	content: '\ea02';
}

.icon-btn_previous_w:before {
	content: '\ea03';
}

.icon-ic_Integration:before {
	content: '\ea04';
}

.icon-ic_cooperation:before {
	content: '\ea05';
}

.icon-ic_cycle:before {
	content: '\ea06';
}

.icon-ic_gps:before {
	content: '\ea07';
}

.icon-ic_mail:before {
	content: '\ea08';
}

.icon-ic_management:before {
	content: '\ea09';
}

.icon-ic_right_arrow:before {
	content: '\ea0a';
}

.icon-ic_signature:before {
	content: '\ea0b';
}

.icon-ic_statistics:before {
	content: '\ea0c';
}

.icon-ic_trust_hand:before {
	content: '\ea0d';
}

.icon-ic_up:before {
	content: '\ea0e';
}

.icon-icons8-megaphone:before {
	content: '\ea0f';
}