/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1517471198321');
	src: url('iconfont.eot?#iefix-1517471198321') format('embedded-opentype'),
		url('iconfont.woff2?1517471198321') format('woff2'),
		url('iconfont.woff?1517471198321') format('woff'),
		url('iconfont.ttf?1517471198321') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-btn_menu:before {
	content: '\ea01';
}

.icon-btn_next_w:before {
	content: '\ea02';
}

.icon-btn_previous_w:before {
	content: '\ea03';
}

.icon-ic_Integration:before {
	content: '\ea04';
}

.icon-ic_back_end:before {
	content: '\ea05';
}

.icon-ic_check_ok:before {
	content: '\ea06';
}

.icon-ic_code:before {
	content: '\ea07';
}

.icon-ic_cooperation:before {
	content: '\ea08';
}

.icon-ic_cycle:before {
	content: '\ea09';
}

.icon-ic_front_end:before {
	content: '\ea0a';
}

.icon-ic_gps:before {
	content: '\ea0b';
}

.icon-ic_mail:before {
	content: '\ea0c';
}

.icon-ic_mail2:before {
	content: '\ea0d';
}

.icon-ic_management:before {
	content: '\ea0e';
}

.icon-ic_middle_end:before {
	content: '\ea0f';
}

.icon-ic_right_arrow:before {
	content: '\ea10';
}

.icon-ic_signature:before {
	content: '\ea11';
}

.icon-ic_statistics:before {
	content: '\ea12';
}

.icon-ic_test:before {
	content: '\ea13';
}

.icon-ic_trust_hand:before {
	content: '\ea14';
}

.icon-ic_up:before {
	content: '\ea15';
}

.icon-ic_up2:before {
	content: '\ea16';
}

.icon-ic_validation:before {
	content: '\ea17';
}

.icon-ico_address:before {
	content: '\ea18';
}

.icon-ico_answer_green:before {
	content: '\ea19';
}

.icon-ico_budget:before {
	content: '\ea1a';
}

.icon-ico_fax:before {
	content: '\ea1b';
}

.icon-ico_sales:before {
	content: '\ea1c';
}

.icon-ico_telphone:before {
	content: '\ea1d';
}

.icon-icons8-megaphone:before {
	content: '\ea1e';
}