@import "~assets/scss/helpers/index";
$imgPath : "/assets/img";

.modal-backdrop{
  background: rgba(13,28,42,1);
  &.in{
    opacity: 0.75;
  }
}

// 基本
.modal-dialog{
  width: 80%;
  max-width: 480px;
  margin: 15% auto;
  .modal-content{
    border:none;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.50);
    text-align: center;
    font-size: 24px;
    color: #3D3D3D;
  }
  .modal-header{
    background: #EDEDED;
    color: #8E8E8E;
    padding: 25px 25px;
    border-radius: 9.6px 9.6px 0 0;
    border-bottom: none;
    position: relative;
    .close{
      background: transparent;
      position: absolute;
      right: 25px;
      top: 3px;
      font-size: 50px;
      color: #018FB5;
      height: 50px;
    }
    i{
      margin-right: 5px;
    }
  }
  .modal-body{
    padding: 40px 0;
  }
  .modal-footer{
    border-top: none;
    text-align: center;
    padding: 0 25px 25px;
  }
  @include phone-width{
    .modal-header{
      font-size: 20px;
      padding: 10px;
      .close{
        top: -10px;
        right: 10px;
        font-size: 45px;
      }
    }
    .modal-body{
      &>div{
        font-size: 24px;
      }
    }
    .modal-footer{
      .btn{
        height: 70px;
        line-height: 70px;
      }
    }
  }
}

.privacy-modal{
  margin: 5% auto;
  max-width: inherit;
  .modal-body{
    text-align: left;
    padding: 35px 50px;
    &>div{
      font-size: 16px;
      color: #3D3D3D;
      height: 400px;
      overflow-y: auto;
      section{
        margin-top: 20px;
      }
      h5{
        font-weight: bolder;
      }
    }
  }
  .modal-footer{
    padding: 0;
  }
  @include pad-width{
    margin: 10% auto;
    .modal-body{
      padding: 20px;
    }
  }
  @include phone-width{
    .modal-body{
      padding: 20px;
      &>div{
        font-size: 12px;
      }
    }
  }
}

.btn{
  &:active{
    background: #7EB70B;
  }
}
