/** 基本設定 **/
*{
  box-sizing: border-box;
}
html, body{
  width: 100%;
}
html{
}
body{
  overflow-x: hidden;
}

a{
  color: #ffffff;
  display: block;
  &:hover{
    color: #ffffff;
  }
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
