.mar-top-bottom{
    margin:10px 0;
}

.no-padding{
  padding:0 !important;
}

.border-box-sizing{
  box-sizing: border-box;
}

.border-bottom{
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.text-center{
  text-align: center;
}
