<header [ngClass]="{'top': scrollTop}">
  <section>
    <h1>
      <a routerLink="/service">
        <img src="./assets/img/ic_star_logo_shadow.svg" alt="start sales">
      </a>
    </h1>
    <nav>
      <!-- <a class="menu">選單</a> -->
      <div class="menu">
        <input id="click" name="exit" type="checkbox" (click)="showMenu()" />
        <label for="click"><span class="burger"></span></label>
      </div>
      <ul [ngClass]="{'animate': showNav}">
        <li *ngFor="let item of navArray">
          <a>{{item.name}}</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
