<header [ngClass]="{'top': scrollTop}">
  <section>
    <h1>
      <a routerLink="/service">
        <img src="./assets/img/ico_star_logo.svg" alt="start sales">
      </a>
    </h1>
    <nav>
      <!-- <a class="menu">選單</a> -->
      <div class="menu">
        <input #menu id="click" name="exit" type="checkbox" (click)="showMenu()" />
        <label for="click"><span class="burger"></span></label>
      </div>
      <ul [ngClass]="{'animate': showNav}">
        <li *ngFor="let item of navArray">
          <a (click)="mobileEvent(item)" [ngClass]="{'active':isActive(item.url)}">
            <p>{{item.name}}</p>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</header>
