@import "~assets/scss/helpers/index";

header{
  width: 100%;
  background: rgba(0,111,148,0.85);
  position: fixed;
  z-index: 100;
  &>section{
    max-width: $pc-media;
    height: 85px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1{
    width: 128px;
    height: 47px;
    a{
      span{
        display: none;
      }
    }
  }
  nav{
    display: flex;
    align-items: center;
    .menu{
      display: none;
      width: 33px;
      height: 33px;
      @extend %bgImg-text-hidden;
      position:relative;
      &:before {
        content: "\ea01";
        display: block;
        font-family: 'iconfont';
        position:absolute;
        left: -33px;
        top: 3px;
        font-size: 30px;
      }
    }
    ul{
      width: 400px;
      display: flex;
      justify-content: space-between;
      li{
        width: 100px;
        a{
          font-size: 17px;
          font-weight: 400;
          line-height: 81px;
          position: relative;
          text-transform: uppercase;
          letter-spacing: 0;
          text-align: center;
          height: 100%;
          &:hover {
            text-decoration: none;
          }
          &:after {
            backface-visibility: hidden;
            border: 2px solid #CEFF84;
            bottom: 0px;
            content: "";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
            opacity: 0;
          }

          &:hover:after{
            backface-visibility: hidden;
            transition: width 350ms ease-in-out;
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
  @include phone-width{
    nav{
      .menu{
        display: block;
      }
      ul{
        display: none;
      }
    }
  }
}
