@import "~assets/scss/helpers/index";
@import "~assets/scss/layout/index";

.parallax-core{
  background-image: url('/assets/img/img_contact_us.jpg');
  h2{
  }
  @include pad-width{
    height: 285px;
    background-attachment: inherit;
    h2{
      line-height: 285px;
    }
  }
  @include phone-width{
    background-image: url('/assets/img/img_landing_page_m_contact_us.jpg');
    background-attachment: inherit;
  }
}

.parallax-content {
  overflow: hidden;
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 20px 0;
  position: relative;
  .title{
    position: relative;
    flex: 1 100%;
    padding-bottom: 40px;
    margin-bottom: 40px;
    font-size: 17px;
    color: #3D3D3D;
    letter-spacing: 1px;
    h3{
      font-size: 24px;
      color: #018FB5;
      margin-bottom: 15px;
    }
    .q-tip{
      position: absolute;
      right: 20px;
      bottom: 0;
      a{
        display: inline-block;
        color: #018FB5;
        text-decoration: underline;
      }
    }
  }
  .input-effect{
    &.showError.required{
      input{
        border-bottom: 2px solid #FF6C6C;
        &~ .focus-border{
          background-color: #FF6C6C;
        }
      }
      label{
        color: #FF6C6C;
      }
    }
    p{
      display: none;
      color: #FF6C6C;
      margin: 5px 0;
      &.showError.required{
        display: block;
      }
    }
  }
  .form{
    width: 360px;
    height: 1320px;
    overflow: hidden;
    padding-bottom: 250px;
    h4{
      font-size: 24px;
      color: #018FB5;
      padding-bottom: 25px;
      position: relative;
    }
    .custom-select{
      margin-bottom: 25px;
      &.showError.required{
        &>div{
          border-bottom: 2px solid #FF6C6C;
          &:after {
            border-color: #FF6C6C transparent transparent transparent;
          }
        }
        p{
          display: block;
        }
      }
      p{
        display: none;
        color: #FF6C6C;
        margin: 5px 0;
      }
    }
    .budget-radio{
      .radio-area{
        display: block;
        padding: 20px 0;
        border-top: 1px solid #EBEBEB;
      }
    }
    .text-area{
      width: 100%;
      max-width: 1024px;
      padding: 0 20px;
      position: absolute;
      left: 0;
      top: 1160px;
      text-align: center;
      textarea{
        font-size: 18px;
        border: 1px solid #D0D0D0;
        border-radius: 3px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 120px;
        min-height: 120px;
        max-height: 120px;
        padding: 15px;
        margin-bottom: 35px;
        &.showError.required{
          border: 2px solid #FF6C6C;
        }
      }
      .checkbox-area{
        font-size: 16px;
        color: #3D3D3D;
        margin-bottom: 30px;
        .custom-checkbox{
          cursor: pointer;
          padding-left: 30px;
          position: relative;
          input{
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked ~ div:after{
              display: block;
            }
          }
          div{
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            border-radius: 2px;
            background: $theme-blue-font;
            &:after{
              content: '';
              position: absolute;
              display: none;
              left: 8px;
              top: 4px;
              width: 3px;
              height: 8px;
              border: solid #fff;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }
        }
        a{
          color: #3D3D3D;
          display: inline-block;
          border-bottom: 1px solid #979797;
          margin: 0 5px;
        }
      }
    }
    .btn{
      width: 290px;
      overflow: hidden;
      position: relative;
      p{
        height: 75px;
        display: inline-block;
        vertical-align: top;
        padding-left: 100px;
        span{
          height: 75px;
          margin-right: 5px;
          display: inline-block;
          vertical-align: top;
        }
        em {
          display: none;
          line-height: 50px;
          vertical-align: top;
          font-size: 50px;
          animation-name: dot;
          animation-duration: 1.4s;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
          text-indent: inherit;
          &:nth-of-type(2) {
            animation-delay: .2s;
          }
          &:nth-of-type(3) {
            animation-delay: .4s;
          }
        }
      }
      i{
        position: absolute;
        top: -3px;
        left: 50%;
        font-size: 40px;
        width: 50px;
      }
      .icon-ico_sent_data{
        margin-left: -60px;
      }
      .icon-ico_sent_ok{
        opacity: 0;
        margin-left: -40px;
      }
      &.showSend{
        p em{
          display: inline-block;
        }
      }
      &.showAnimate{
        background: #018FB5;
        animation: bg 1s cubic-bezier(0.27,0.53,0.28,1.58) forwards;
        animation-delay: 0.7s;
        p em{
          display: none;
        }
        .icon-ico_sent_data{
          transform: translateX(0px) scale(1);
          animation: move-left 0.5s cubic-bezier(0.27,0.53,0.28,1.58) forwards;
          animation-delay: 0.1s;
        }
        .icon-ico_sent_ok{
          transform: translateY(-5px) scale(0);
          transform-origin: 50%;
          animation: go-top 0.5s cubic-bezier(0.27,0.53,0.28,1.58) forwards;
          animation-delay: 1.2s;
        }
      }
      &.disabled{
        opacity: 0.65;
        cursor: not-allowed;
        &:active{
          pointer-events: none;
        }
      }
    }
  }
  .company{
    width: 540px;
    height: 1250px;
    padding-bottom: 250px;
    .company-map{
      margin-bottom: 40px;
      border: 1px solid #D0D0D0;
      border-radius: 3px;
      iframe{
        display: block;
        width: 538px;
        height: 558px;
      }
    }
    .company-data{
      color: #3D3D3D;
      font-size: 17px;
      h4{
        font-size: 23px;
        margin-bottom: 25px;
      }
      ul{
        li{
          line-height: 35px;
        }
        i{
          width: 18px;
          color: #cccccc;
          &.icon-ico_fax, &.icon-ico_sales{
            text-indent: -4px;
            margin-right: 4px;
          }
        }
        div, span{
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }
  .qa{
    width: 100%;
    padding: 60px 0;
    background: #F2F5F6;
    position: relative;
    &:before{
      content: "";
      display: block;
      background: #F2F5F6;
      width: 600%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -300%;
      z-index: -1;
    }
    h3{
      font-size: 30px;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  @include pad-width{
    padding: 50px 20px 0;
    .form{
      width: 300px;
    }
    .company{
      width: 360px;
      margin-left: 40px;
      .company-map{
        iframe{
          width: 358px;
        }
      }
    }
  }
  @include phone-width{
    padding: 0;
    .title{
      font-size: 14px;
      margin-bottom: 0;
      h3{
        font-size: 18px;
        text-align: center;
        padding: 30px 20px;
        background: #F2F5F6;
      }
      p{
        padding: 0 20px;
      }
    }
    .form{
      width: 100%;
      padding: 0 20px;
      height: inherit;
      .custom-select{
        margin: 0;
      }
      h4{
        font-size: 18px;
        text-align: center;
        padding: 25px 0;
        background: #F2F5F6;
        position: relative;
        &:before{
          content: "";
          display: block;
          background: #F2F5F6;
          width: 120%;
          height: 100%;
          position: absolute;
          top: 0;
          left: -20px;
          z-index: -1;
        }
      }
      .text-area{
        position: static;
        padding: 0;
        textarea{
          margin-bottom: 20px;
        }
        .checkbox-area{
          margin-bottom: 40px;
        }
      }
    }
    .company{
      order:10;
      background: #F2F5F6;
      padding: 60px 20px;
      height: inherit;
      .company-map{
        display: none;
        iframe{
          width: 100%;
        }
      }
      .company-data{
        h4{
          font-size: 16px;
        }
        ul{
          font-size: 14px;
          i{
            color: $theme-light-blue;
          }
        }
      }
    }
    .qa{
      padding: 60px 20px;
      background: #ffffff;
      &:before{
        display: none;
      }
      h3{
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
  }
}

@keyframes move-left {
  0% { transform: translateX(0px) scale(1)}
  100% { transform: translateX(-200px) scale(1)}
}

@keyframes bg {
  from {background: #018FB5;}
  to {background: #7EB70B;}
}

@keyframes go-top {
  0% { transform: translateY(-10px) scale(0); opacity: 0; }
  100% { transform: translateY(0px) scale(1); opacity: 1; }
}

@keyframes dot {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
