<footer>
  <section>
    <ul>
      <li>
        <ol class="mitake">
          <li><a class="icon-ico_mtk_logo" href="https://www.mitake.com.tw/" target="_blank"><span>mitake</span></a></li>
          <li>
            <p>三竹資訊股份有限公司</p>
            <small>Mitake Inc. All rights reserved.</small>
          </li>
        </ol>
      </li>
      <li>
        <ol class="sns">
          <li><a class="icon-ico_fb" href="https://www.facebook.com/mitake.tw" target="_blank"><span>Facebook</span></a></li>
          <li><a class="icon-ico_twitter" href="https://twitter.com/mitake_tw" target="_blank"><span>Twitter</span></a></li>
          <li><a class="icon-ico_youtube" href="http://www.youtube.com/user/ChannelMitake" target="_blank"><span>Youtube</span></a></li>
        </ol>
      </li>
    </ul>
  </section>
</footer>
