// 頁面內容排版

// 視差
.parallax-core{
  height: 530px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  h2{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    line-height: 530px;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  @include phone-width{
    height: 250px;
    h2{
      line-height: 250px;
      font-size: 18px;
    }
  }
}

.parallax-content {
  &>section{
    max-width: 1024px;
    margin: 0 auto;
  }
}

// input 樣式
.input-effect{
  margin: 20px 0 30px;
  &>div{
    position: relative;
  }
  input{
    width: 100%;
    border: 0;
    padding: 10px 0;
    border-bottom: 1px solid #EBEBEB;
    background-color: transparent;
    &~ .focus-border{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #018FB5;
      transition: 0.4s;
    }
    &:focus ~ .focus-border{width: 100%; transition: 0.4s;}
    & ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #8E8E8E;font-size: 20px; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
    &:focus ~ label,  &.hasValue ~ label{top: -16px; font-size: 12px; color: #018FB5; transition: 0.3s;}
  }
}

// 下拉選單
.custom-select {
  &>div{
    position: relative;
    border-bottom: 1px solid #EBEBEB;
    &:before, &:after {
      content: "";
      position: absolute;
    }
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: #929292 transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -10px;
    }
  }
  select{
    width: 100%;
    cursor: pointer;
    color: #8E8E8E;
    background: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 0.5em 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

// radio
.radio-area{
  padding-top: 5px;
  label{
    color: #8E8E8E;
    margin-right: 25px;
    cursor: pointer;
  }
  input{
    display: none;
    &:checked{
      & + span{
        border:4px solid #018FB5;
        &:after{
          background-color: #018FB5;
          border-radius:100%;
          content:"";
          display:inline-block;
          width:10px;
          height:10px;
          margin:4px;
        }
      }
    }
  }
  span{
    background-color:#fff;
    border:4px solid #D0D0D0;
    border-radius:100%;
    display:inline-block;
    width:26px;
    height:26px;
    margin-right:10px;
    margin-top:-1px;
    vertical-align:middle;
    line-height:1;
  }
}

// textarea
textarea{
  &:-moz-placeholder, &:-ms-input-placeholder, &::-moz-placeholder, &::-webkit-input-placeholder {
    color: #8E8E8E;
  }
}

// btn
.btn{
  width: 100%;
  height: 75px;
  line-height: 75px;
  display: block;
  font-size: 26px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
  background: #018FB5;
  margin: 0 auto;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.ul-style{
  li{
    @extend %theme-p;
    position: relative;
    padding-left: 20px;
    &:before {
      content: "\ea11";
      display: inline-block;
      font-family: 'iconfont';
      font-size: 10px;
      color: $theme-green;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
