@import "~assets/scss/helpers/index";
@import "~assets/scss/layout/index";

:host /deep/ .pad{
  width: 100%;
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -145px;
  .owl-carousel{
    height: 100%;
    .owl-stage-outer{
      width: 100%;
      height: 100%;
    }
    .owl-stage{
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .desktop-img{
    display:block;
  }
  .mobile-img{
    display:none;
  }
  @include pc-width{
    height: 290px;
  }
  @include pad-width{
    height: 175px;
    top: 295px;
    .owl-carousel{
      width: 230px;
    }
  }
  @include phone-width{
    height: 146px;
    top: 120px;
    margin-left: -110px;
    .owl-carousel{
      width: 195px;
    }
  }
}

.parallax-core{
  background-image: url('/assets/img/png_landing_page.jpg');
  position: relative;
  overflow: hidden;
  &:before{
    content: "";
    background: url('/assets/img/png_landing_page2.png');
    background-size: cover;
    display: block;
    width: 1318px;
    height: 530px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1130px;
  }
  &>div{
    color: #FFFFFF;
    text-shadow: 0 0 15px #3292CE;
    width: 400px;
    padding-left: 130px;
    position: absolute;
    top: 210px;
    left: 50%;
    margin-left: -500px;
    i{
      font-size: 100px;
      position: absolute;
      top: 10px;
      left: 0;
    }
    p{
      font-size: 16px;
      margin-bottom: 5px;
    }
    h1{
      width: 260px;
      font-size: 25px;
      line-height: 1.6em;
    }
  }
  @include pad-width{
    height: 400px;
    background-attachment: inherit;
    &:before{
      top: 50%;
      margin-top: -265px;
    }
    &>div{
      top: 150px;
      margin-left: -470px;
      i{
        display: none;
      }
    }
  }
  @include phone-width{
    background-image: url('/assets/img/png_landing_page_pg_m.jpg');
    background-attachment: inherit;
    height: 250px;
    &:before{
      display: none;
    }
    &>div{
      width: inherit;
      position: static;
      margin: 0 auto;
      padding: 45px 0;
      text-align: center;
      i{
        font-size: 72px;
        position: static;
      }
      p{
        font-size: 12px;
        margin: 5px 0;
      }
      h1{
        width: 188px;
        font-size: 18px;
        margin: 0 auto;
      }
    }
  }
}
.parallax-content{
  overflow: hidden;
  section{
    article{
      max-width: $pc-media;
      margin: 0 auto;
      padding: 120px 10px;
      display: flex;
      align-items: center;
    }
    h2{
      @extend %theme-h2;
      margin-bottom: 25px;
    }
    p{
      @extend %theme-p;
    }
    .img{
      i{
        @extend %theme-h2;
        font-size: 185px;
      }
    }
    @include phone-width{
      article{
        padding: 30px 15px 30px 20px;
        flex-direction:column;
      }
      .img{
        display: none;
      }
      h2{
        font-size: 22px;
        line-height: 1.6em;
        margin-bottom: 25px;
        text-align: center;
      }
    }
  }
  .a-1, .a-4{
    article{
      flex-direction: column;
    }
  }
  .a-2, .a-4{
    background: #F3F9FB;
  }
  .a-2{
    .img{
      margin-right: 70px;
      padding: 30px 30px 0 30px;
    }
    @include phone-width{
      h2{
        text-align: left;
        padding-left: 70px;
        position: relative;
        &:before{
          content: "\ea24";
          font-family: 'iconfont';
          font-size: 52px;
          color: $theme-light-blue;
          position: absolute;
          top: 18px;
          left: 0;
        }
      }
    }
  }
  .a-3{
    position: relative;
    .word{
      width: 500px;
    }
    .carousel{
      width: 385px;
      height: 270px;
      position: absolute;
      left: 50%;
      bottom: 120px;
      margin-left: 80px;
      &:before{
        content: "";
        width: 1309px;
        height: 717px;
        display: block;
        background: url('/assets/img/img_hand_right.png');
        background-size: cover;
        position: absolute;
        top: -400px;
        left: 0;
      }
      &:after{
        content: "";
        width: 294px;
        height: 240px;
        display: block;
        background: url('/assets/img/img_hand_left.png') top center no-repeat;
        background-size: cover;
        position: absolute;
        top: 150px;
        left: -180px;
        z-index: 1;
      }
    }
    @include pad-width{
      .word{
        width: 350px;
      }
      .carousel{
        height: 545px;
        margin: 0;
        &:before,  &:after{
          transform: scale(0.6);
        }
        &:before{
          top: -80px;
          left: 50%;
          margin-left: -435px;
        }
        &:after{
          top: 353px;
          left: -140px;
          height: 390px;
        }
      }
    }
    @include phone-width{
      .word{
        width: 100%;
        order:1;
      }
      .carousel{
        order:2;
        position: relative;
        width: 100%;
        height: 360px;
        margin: 0;
        left: 0;
        top: 0;
        &:before,  &:after{
          transform: scale(0.5);
        }
        &:before{
          top: -250px;
          left: 50%;
          margin-left: -460px;
        }
        &:after{
          top: 240px;
          left: -100px;
        }
      }
    }
  }
  .a-4{
    .title{
      text-align: center;
      margin-bottom: 60px;
    }
    ul{
      width: 100%;
      display: flex;
      justify-content: space-between;
      li{
        max-width: 160px;
        text-align: center;
      }
      i{
        @extend %theme-h2;
        font-size: 125px;
      }
      p{
        margin-top: 55px;
        text-align: left;
      }
    }
    @include pad-width{
      ul{
        justify-content: space-around;
        li{
          max-width: 100px;
        }
        i{
          font-size: 80px;
        }
      }
    }
    @include phone-width{
      background: transparent;
      .title{
        position: relative;
        background: #F3F9FB;
        padding: 30px 0;
        &:before{
          content: "";
          display: block;
          background: #F3F9FB;
          position: absolute;
          width: 400%;
          height: 100%;
          z-index: -1;
          top: 0;
          left: -100%;
        }
      }
      ul{
        flex-direction:column;
        li{
          max-width: 100%;
          padding: 45px 0;
          position: relative;
          &:nth-child(2n){
            background: #EAF3F7;
            &:before{
              content: "";
              display: block;
              background: #EAF3F7;
              position: absolute;
              width: 120%;
              height: 100%;
              z-index: -1;
              top: 0;
              left: -20px;
            }
          }
        }
        p{
          font-size: 16px;
        }
      }
    }
  }

}
