// theme colors
$theme-blue: #126385;
$theme-light-blue:#065D80;
$theme-blue-font:#018FB5;
$theme-green:#97C933;
$theme-light-grey:#EEF4F6;
$theme-middle-grey:#7C7C7C;
$theme-dark-grey:#2A2A2A;


// font size
$base-font-size:          14px;
$font-size-md:            16px;
$font-size-big:           18px;

/** screen **/
$pc-media: 1024px;
$pcs-media: 1023px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;
