// global colors
$white: #fff;
$black: #000;
$brackets-blue: #00305c; // 括號藍


// font size
$base-font-size:          14px;
$font-size-md:            16px;
$font-size-big:           18px;

/** screen **/
$pc-media: 1024px;
$pcs-media: 1023px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;
