%bgImg-text-hidden{
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}

%theme-h2{
  font-family: PingFangTC-Medium;
  font-size: 28px;
  color: $theme-light-blue;
  letter-spacing: 0;
}

%theme-p{
  font-family: PingFangTC-Light;
  font-size: 14px;
  color: #000000;
  letter-spacing: 2px;
  line-height: 2em;
}
